@import 'core/settings';

body {
	background-color: lightgray;
	height: 100vh;
}

.container_data {
	display: flex;
	flex-direction: column;
	margin-bottom: 80px;
}

.clue_box {
	border: 1px solid blue;
	border-radius: 4px;
	height: 40px;
	color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
}

.red {
	font-size: 40px;
	color: red;
	font-weight: bold;
}